{% extends 'myblog/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Изменение пароля' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Измените ваш пароль' %}</h1>
    {% if validlink %}
        <p>{% trans 'Пожалуйста, введите новый пароль:' %}</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">{% trans 'Изменить пароль' %}</button>
        </form>
    {% else %}
        <p>{% trans 'Ссылка для сброса пароля недействительна, возможно, потому, что она
            уже была использована. Пожалуйста, запросите сброс пароля еще раз' %}</p>
    {% endif %}
{% endblock %}